**Import the libary**

In [1]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords")
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

**Data load**

In [2]:
data = []
with open("train_data.txt","r",encoding="utf-8") as file:
    for line in file:
        parts = line.strip().split(":::")
        if len(parts)==4:
            data.append(parts)
train_data = pd.DataFrame(data,columns=["id","title","genre","description"])

In [3]:
data_test = []
with open("test_data.txt","r",encoding="utf-8") as file:
    for line in file:
        parts = line.strip().split(":::")
        if len(parts)==3:
            data_test.append(parts)
test_data = pd.DataFrame(data_test,columns=["id","title","description"])

**# Explore data analysis**

# train data explore analysis

In [4]:
train_data.head()

,id,title,genre,description
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...

In [5]:
train_data.describe()

,id,title,genre,description
count,54214,54214,54214,54214
unique,54214,54214,27,54086
top,1,Oscar et la dame rose (2009),drama,Grammy - music award of the American academy ...
freq,1,1,13613,12

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54214 entries, 0 to 54213
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           54214 non-null  object
 1   title        54214 non-null  object
 2   genre        54214 non-null  object
 3   description  54214 non-null  object
dtypes: object(4)
memory usage: 1.7+ MB

In [7]:
train_data.nunique().sort_values(ascending=False)

id             54214
title          54214
description    54086
genre             27
dtype: int64

# test data explore analysis

In [6]:
test_data.head()

,id,title,description
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apar..."
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty ch..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family ...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with hi..."
4,5,Er nu zhai (1955),Before he was known internationally as a mart...

In [10]:
test_data.describe()

,id,title,description
count,54200,54200,54200
unique,54200,54200,54072
top,1,Edgar's Lunch (1998),Grammy - music award of the American academy ...
freq,1,1,10

In [7]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54200 entries, 0 to 54199
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           54200 non-null  object
 1   title        54200 non-null  object
 2   description  54200 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [8]:
test_data.nunique().sort_values(ascending=False)

id             54200
title          54200
description    54072
dtype: int64

**# Text preprocess**

In [9]:
#remove id column from both train and test data 
train_data = train_data.drop("id",axis=1)
test_data = test_data.drop("id",axis=1)

In [10]:
# Load stopwords
stop_words = set(stopwords.words('english'))

# Combine title and description, clean text
def clean_text(text):
    text = text.lower()
    text = re.sub(r"[^\w\s]", "", text)  # remove punctuation
    text = re.sub(r"\d+", "", text)  # remove digits
    text = " ".join([word for word in text.split() if word not in stop_words])
    return text

# Create combined and cleaned text field
train_data["text"] = (train_data["title"] + " " + train_data["description"]).apply(clean_text)
test_data["text"] = (test_data["title"] + " " + test_data["description"]).apply(clean_text)

In [15]:
#vectorize
tfidf = TfidfVectorizer(max_features=10000, ngram_range=(1, 2))
X_train = tfidf.fit_transform(train_data["text"])
X_test = tfidf.transform(test_data["text"])

y_train = train_data["genre"]

In [17]:
# Split for validation
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [18]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
X_tr, y_tr= smote.fit_resample(X_tr, y_tr)

**# Model build and test**

In [19]:
models = {
    "LogisticRegression":LogisticRegression(class_weight='balanced', max_iter=1000),
    "MultinomalNB":MultinomialNB(),
    "SupportVectorMachine":SVC(class_weight='balanced')
}

In [ ]:
#evaluate with valdation 
for name,model in models.items():
    model.fit(X_tr,y_tr)
    y_pred = model.predict(X_val)
    print(f"\n{name} Result: ")
    print("classification score: ",classification_report(y_pred,y_val))
    print("confusion matrixs: ", confusion_matrix(y_pred,y_val))

LogisticRegression Result:
classification score:                 precision    recall  f1-score   support

      action        0.47      0.35      0.40       351
       adult        0.54      0.45      0.49       133
   adventure        0.31      0.24      0.27       181
   animation        0.26      0.24      0.25       111
   biography        0.03      0.06      0.04        35
      comedy        0.57      0.58      0.57      1416
       crime        0.21      0.15      0.18       155
 documentary        0.69      0.78      0.73      2342
       drama        0.53      0.67      0.59      2162
      family        0.27      0.17      0.20       242
     fantasy        0.11      0.13      0.12        60
   game-show        0.72      0.81      0.76        36
     history        0.04      0.03      0.04        64
      horror        0.68      0.61      0.64       484
       music        0.71      0.47      0.57       216
     musical        0.20      0.18      0.19        57
     mystery        0.16      0.12      0.14        75
        news        0.21      0.23      0.22        31
  reality-tv        0.53      0.38      0.44       263
     romance        0.22      0.14      0.17       236
      sci-fi        0.45      0.40      0.42       163
       short        0.45      0.42      0.44      1121
       sport        0.65      0.43      0.52       140
   talk-show        0.43      0.38      0.41        91
    thriller        0.34      0.25      0.29       421
         war        0.30      0.15      0.20        40
     western        0.88      0.81      0.84       217

     accuracy                           0.55     10843
    macro avg       0.41      0.36      0.38     10843
 weighted avg       0.53      0.55      0.54     10843

confusion matrixs:  [[ 124    1   11    4    1   21   15   13   80    4    5    0    5    8
     0    0    1    0    0    0    8   16    6    0   18    5    5]
 [   1   60    4    0    0   15    0    8   28    0    0    0    0    2
     0    0    0    0    0    1    1    6    0    0    7    0    0]
 [   4   13   43    5    0   14    0   29   25    6    8    0    5    2
     0    0    1    0    7    0    3    8    1    2    3    0    2]
 [   4    0    3   27    0   15    1    7    7   15    4    0    1    4
     1    0    0    1    0    0    2   17    0    0    2    0    0]
 [   0    0    0    0    2    1    0   24    5    0    0    0    0    0
     1    0    0    0    0    0    0    1    0    1    0    0    0]
 [  14   13    8    9    3  816   10   53  278   17    5    1    0    9
     1    9    0    1   22   31    6   88    2    2   13    0    5]
 [  15    0    3    0    0   18   23   16   49    0    2    0    0    4
     0    0    4    1    1    1    0    7    0    0   10    0    1]
 [   7    0    5    3   27   34    5 1833  142    5    4    1   15    4
    14    1    2   10   22    1    9  161   13   10   10    2    2]
 [  22    4   13    9   11  182   10  142 1442   18    8    0    7   19
     3   11    7    0    7   54   11  120    1    1   48    4    8]
 [   2    1    4   18    0   33    0   39   61   40    4    0    2    5
     2    1    0    1    2    2    4   14    1    3    3    0    0]
 [   2    1    0    5    0    3    0   10   12    1    8    0    1    3
     0    1    0    0    1    1    2    9    0    0    0    0    0]
 [   0    0    0    0    0    1    1    2    0    1    0   29    0    0
     0    0    0    0    1    0    0    0    0    1    0    0    0]
 [   0    0    1    0    3    4    1   35    8    0    0    0    2    0
     0    2    0    0    2    0    0    6    0    0    0    0    0]
 [   8    1    8    3    0   28    6   14   42    1    5    0    0  294
     0    1    5    0    0    0   10   17    0    0   41    0    0]
 [   0    0    1    2    1   12    1   64    6    3    0    0    0    3
   102    5    1    0    2    0    0    8    1    4    0    0    0]
 [   1    0    0    0    1    6    0   11   14    1    0    1    0    1
     5   10    0    0    0    2    0    3    0    0    0    1    0]
 [   1    0    2    1    0    6    4    9   14    0    0    0    0    1
     0    0    9    0    1    0    2    7    0    0   18    0    0]
 [   0    0    0    0    0    4    0    6    0    1    0    0    0    0
     1    0    0    7    1    1    1    3    0    6    0    0    0]
 [   0    0    6    1    1   27    0   59   16    9    1    5    1    2
     4    1    0    5  101    1    2    7    4    8    2    0    0]
 [   1    2    1    0    1   52    2    7  108    4    2    0    0    2
     1    3    0    0    0   33    1   11    0    1    4    0    0]
 [   9    1    5    8    0    7    1   15   18    2    4    0    0    9
     0    0    1    0    1    0   65    9    0    1    7    0    0]
 [   8   10    9    8    7   82    6  191  207   16   12    1    2   13
     7    1    4    1   10   18    7  475    1    6   17    2    0]
 [   8    0    1    0    2   10    0   37    5    1    0    1    1    1
     0    0    0    0    6    0    0    7   60    0    0    0    0]
 [   1    0    0    0    0   11    0   12    1    2    0    0    0    3
     2    1    1    7    5    0    1    6    3   35    0    0    0]
 [  28    4    5    0    1   34   20   11  104    1    2    0    1   41
     0    1   19    0    0    5    6   30    0    0  106    0    2]
 [   2    0    1    1    0    2    0    7   10    2    0    1    2    0
     0    1    0    0    0    0    0    5    0    0    0    6    0]
 [   1    1    5    0    0    5    1    5   15    0    0    0    0    1
     0    1    1    0    0    0    2    4    0    0    0    0  175]]

MultinomalNB Result:
classification score:                 precision    recall  f1-score   support

      action        0.47      0.34      0.40       362
       adult        0.58      0.46      0.51       142
   adventure        0.31      0.27      0.29       157
   animation        0.28      0.25      0.26       118
   biography        0.03      0.02      0.03        82
      comedy        0.51      0.56      0.53      1303
       crime        0.27      0.16      0.20       177
 documentary        0.65      0.76      0.70      2261
       drama        0.49      0.66      0.56      1988
      family        0.25      0.20      0.22       186
     fantasy        0.20      0.22      0.21        67
   game-show        0.68      0.77      0.72        35
     history        0.18      0.09      0.12        91
      horror        0.68      0.57      0.62       516
       music        0.76      0.33      0.47       329
     musical        0.14      0.13      0.14        52
     mystery        0.07      0.05      0.06        76
        news        0.15      0.17      0.16        29
  reality-tv        0.62      0.37      0.47       319
     romance        0.32      0.12      0.18       390
      sci-fi        0.43      0.32      0.37       192
       short        0.36      0.46      0.41       836
       sport        0.80      0.41      0.54       181
   talk-show        0.44      0.24      0.31       151
    thriller        0.35      0.22      0.27       488
         war        0.35      0.13      0.19        55
     western        0.91      0.70      0.79       260

     accuracy                           0.52     10843
    macro avg       0.42      0.33      0.36     10843
 weighted avg       0.51      0.52      0.50     10843

confusion matrixs:  [[ 124    1    6    4    0   35   19   14   90    2    5    0    4    5
     0    0    1    1    1    1    8   16    0    1   16    5    3]
 [   1   65   11    0    1   16    1    2   21    1    2    1    0    4
     0    0    0    0    1    1    1    9    0    0    4    0    0]
 [   5   10   43    4    0   21    1   20   20    1    3    0    2    3
     0    0    1    0    6    0    3    8    0    0    4    0    2]
 [   1    0    5   29    0   17    0    7    5   20    6    0    0    4
     1    0    0    1    1    1    0   20    0    0    0    0    0]
 [   1    0    0    1    2    5    0   49    8    0    0    0    2    0
     2    0    0    0    1    0    1    8    0    2    0    0    0]
 [  10   10    3    8    2  731   10   44  271   18    5    1    0   13
     4   11    3    0   13   22    5   95    2    0   18    0    4]
 [   8    0    1    0    0   21   29   21   52    0    1    0    0    5
     0    0    7    0    3    1    0   11    0    0   17    0    0]
 [   5    1    8    4   28   39    2 1728  170    6    5    1   10    5
    11    4    4   10   18    1    9  173    3   10    2    2    2]
 [  20    5    8    4   12  170    9  131 1319   13    8    0    3   16
     1    8    4    0    4   49   10  136    1    0   47    3    7]
 [   0    0    4   13    0   28    0   31   38   37    1    0    1    3
     2    4    0    0    0    2    2   16    0    2    2    0    0]
 [   6    0    2    3    1    4    0    3   16    1   15    0    2    1
     0    0    0    0    0    1    4    7    0    0    1    0    0]
 [   0    0    0    0    0    1    0    2    0    0    0   27    0    0
     1    0    0    0    1    0    0    0    1    1    1    0    0]
 [   1    0    0    1    5    4    0   48   16    0    0    0    8    1
     0    1    0    0    1    0    0    4    0    0    1    0    0]
 [   5    4   11    3    0   27    4   19   42    4    6    0    0  293
     0    1    8    1    2    0   14   24    1    0   47    0    0]
 [   0    1    1    4    3   30    0  128    7    8    0    2    0    5
   110    5    1    3    3    1    0    9    2    6    0    0    0]
 [   1    1    0    0    1    8    0    4   17    0    0    0    0    1
     5    7    0    0    0    1    0    5    0    0    0    1    0]
 [   1    2    1    1    0   10    4    4   18    1    0    0    0    7
     0    0    4    0    0    0    0    6    0    1   16    0    0]
 [   0    0    0    1    0    4    0    8    0    1    0    0    1    1
     0    0    0    5    1    0    0    2    0    5    0    0    0]
 [   1    2    5    0    0   42    0   83   12    7    0    5    1    2
     0    1    0    3  119    2    2   14    5   12    1    0    0]
 [   6    4    2    3    0   74    1    4  199    8    2    0    1    1
     1    5    0    0    1   48    1   22    0    1    6    0    0]
 [  17    1    9   12    0   10    1   26   14    2    6    0    0   12
     0    0    1    0    1    0   62   11    0    0    7    0    0]
 [   4    3    1    5    3   51    5  161  157    2    7    0    3    5
     2    3    3    1    2   13    6  381    1    4   11    2    0]
 [  10    0    1    0    2   11    0   54    6    4    0    3    0    0
     1    0    0    0    8    0    0    7   74    0    0    0    0]
 [   1    0    0    0    0   33    1   33    5    8    0    0    0    3
     3    0    1    8    5    0    3    8    3   36    0    0    0]
 [  29    1    6    3    1   38   18   18  140    3    1    0    2   40
     0    0   16    1    0    7   11   45    0    0  107    0    1]
 [   2    0    2    0    0    6    0   12   15    2    1    0    5    0
     0    0    0    0    0    0    0    2    0    0    1    7    0]
 [   4    1    9    1    0    7    2    5   39    1    0    0    0    1
     0    0    2    0    0    0    1    6    0    0    0    0  181]]

:

In [ ]:
#evaluate with test data
for name,model in models.items():
    model.fit(X_tr,y_tr)
    y_pred = model.predict(X_val)
    print(f"\n{name} Result: ")
    print("accurcy score: ",accuracy_score(y_pred,y_val))
    print("classification score: ",classification_report(y_pred,y_val))
    print("confusion matrixs: ", confusion_matrix(y_pred,y_val))